@media (min-width: 280px) and (max-width: 767px) {
  .inner {
    width: 100%;
    padding: 0 20px;
  }

  .footer-link {
    padding: 20px;
  }

  /* home section */
  .home-content h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .home-content a {
    padding: 15px 30px;
  }

  /* news section */
  .news-item-wrap {
    flex-direction: column;
  }

  .news-item-wrap a {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(190, 190, 190, 0.3);
    margin-bottom: 30px;
  }

  .news-item-des p {
    width: 100%;
  }

  /* category section */
  .category-wrap {
    flex-direction: column;
  }

  .category-item {
    position: relative;
    flex: none;
    width: 100%;
    height: 150px;
  }

  .category-item:hover {
    flex: none;
    height: 180px;
  }

  .category-company {
    background-image: url(../imgs/m-company.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-lab {
    background-image: url(../imgs/m-lab.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-game {
    background-image: url(../imgs/m-game.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-culture {
    background-image: url(../imgs/m-culture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-news {
    background-image: url(../imgs/m-news.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-item a {
    justify-content: center;
  }

  .category-item a h2 {
    margin-bottom: 0;
  }

  .category-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .category-item:hover .category-item-text {
    height: 50px;
  }

  /* img-news section */
  .img-news-wrap {
    flex-direction: column;
  }

  .img-news-item {
    flex: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* more section */
  .more-item h1 {
    font-size: 36px;
    text-align: center;
    line-height: 3rem;
  }

  .more-item br {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .inner {
    width: 100%;
    padding: 0 20px;
  }

  .footer-link {
    padding: 20px;
  }

  /* news section */
  .news-item-wrap {
    flex-direction: column;
  }

  .news-item-wrap a {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(190, 190, 190, 0.3);
    margin-bottom: 30px;
  }

  .news-item-des p {
    width: 100%;
  }

  /* category section */
  .category-wrap {
    flex-direction: column;
  }

  .category-item {
    position: relative;
    flex: none;
    width: 100%;
    height: 200px;
  }

  .category-item:hover {
    flex: none;
    height: 250px;
  }

  .category-company {
    background-image: url(../imgs/m-company.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-lab {
    background-image: url(../imgs/m-lab.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-game {
    background-image: url(../imgs/m-game.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-culture {
    background-image: url(../imgs/m-culture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-news {
    background-image: url(../imgs/m-news.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .category-item a {
    justify-content: center;
  }

  .category-item a h2 {
    margin-bottom: 0;
  }

  .category-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .category-item:hover .category-item-text {
    height: 50px;
  }

  /* img-news section */
  .img-news-item {
    flex: none;
    width: 50%;
    padding-right: 10px;
    margin-right: 0;
  }

  .img-news-item:nth-of-type(1),
  .img-news-item:nth-of-type(2) {
    margin-bottom: 50px;
  }

  .img-news-item:nth-of-type(even) {
    padding-right: 0;
    padding-left: 10px;
  }

  /* more section */
  .more-item h1 {
    font-size: 60px;
  }
}

@media (min-width: 280px) and (max-width: 1024px) {
  .footer-link-box {
    flex-direction: column;
  }

  /* footer-inner section */
  .footer-inner {
    width: 100%;
  }

  .footer-link-item {
    width: 100%;
    overflow: hidden;
  }

  .footer-copyright-wrap {
    flex-direction: column-reverse;
    height: auto;
  }

  .footer-sns {
    width: 100%;
    position: static;
    border-bottom: 1px solid rgba(190, 190, 190, 0.3);
    padding: 20px 0;
  }

  .footer-copyright-box {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .footer-copyright-box h3 {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .footer-link-item i {
    display: flex;
  }

  .footer-link-item a {
    display: flex;
    height: 100%;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .footer-link-item:last-child a {
    padding-bottom: 0;
  }

  .footer-link-sub {
    transition: 0.5s;
    max-height: 0;
    height: auto;
    overflow: hidden;
  }

  .footer-link-sub a {
    padding-top: 0;
  }

  .footer-link-item a.show + .footer-link-sub {
    max-height: 100vw;
  }

  .footer-link-item:nth-child(n + 7) {
    margin-top: 0;
  }

  .footer-link-item:nth-child(n + 7) a {
    justify-content: flex-start;
  }

  .footer-link-item:nth-child(n + 7) a i {
    margin-left: 8px;
  }

  .footer-link-sub a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .footer-link-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1550px) {
  .header-inner {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .inner {
    width: 100%;
    padding: 0 20px;
  }

  .footer-inner {
    width: 100%;
    padding: 0 20px;
  }

  .news-item-des p {
    width: 100%;
  }

  .news-item-wrap {
    width: 100%;
    flex-wrap: wrap;
  }

  .news-item-wrap a {
    flex: none;
    width: calc(100% / 3);
    padding: 0 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .category-item a h2 {
    font-size: 18px;
  }
}

@media (min-width: 280px) and (max-width: 1280px) {
  /* header section */
  .drawer {
    display: flex;
    z-index: 99999;
  }

  .gnb-wrap.show {
    transform: translateX(0);
  }

  .drawer-child {
    background-color: #000000;
  }

  header {
    background-color: #ffffff;
    padding: 0 20px;
  }

  .header-logo h2 {
    font-size: 1.2rem;
  }

  .header-inner {
    width: 100%;
    border-bottom: none;
    background-color: #ffffff;
  }

  .gnb-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    background-color: #ffffff;
    transition: 0.3s;
    overflow: auto;
  }

  .res-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 99998;
  }

  .res-header h2 {
    font-size: 1.2rem;
    color: #000000;
  }

  .header-gnb {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: auto;
    margin-top: 50px;
  }

  .gnb-item {
    position: relative;
    border: none;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .gnb-item-title i {
    display: flex;
    transition: 0.3s;
  }

  .gnb-item-title.show.gnb-item-title i {
    transform: rotate(180deg);
  }

  .gnb-item-title {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(170, 170, 170, 0.3);
    margin-bottom: 20px;
  }

  .gnb-item:last-child {
    margin-bottom: 0;
  }

  .gnb-item-title a {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .gnb-item:hover {
    border: none;
  }

  .header-sub-box {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-height: 0;
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }

  .gnb-item-title.show + .header-sub-box {
    max-height: 100vh;
  }

  .sub-item {
    font-size: 21px;
  }

  .sub-item a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header:hover .header-inner {
    border-bottom: none;
  }

  header:hover {
    background-color: #ffffff;
    height: 70px;
  }

  .header-logo a,
  .gnb-item-title > a,
  .lang-kor a {
    color: #000000;
  }

  .header-language {
    display: none;
  }

  .res-language {
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
  }

  .res-language i {
    font-size: 20px;
  }

  .res-language ul {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: auto;
    background-color: #ffffff;
    padding: 20px 0;
    border: 1px solid #cfcfcf;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  .res-language ul.show {
    opacity: 1;
    visibility: visible;
  }

  .res-language ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
  }

  .res-language a {
    color: #000000;
    font-size: 12px;
  }

  .res-language ul li:nth-child(2) a {
    color: #999999;
  }

  .res-language ul li:nth-child(3) a {
    color: #999999;
  }

  .res-language ul li:nth-child(2) a:hover {
    color: #000000;
  }

  .res-language ul li:nth-child(3) a:hover {
    color: #000000;
  }
}

/* about html */
@media (max-width: 280px) {
  /*home section */
  .about-home {
    margin-top: 70px;
  }

  .about-home-content p {
    font-size: 28px;
    text-align: center;
  }

  .about-home-content {
    padding: 0 20px;
  }

  .about-home-content h3 {
    margin-bottom: 20px;
  }

  /* story section */
  .story-wrap {
    text-align: center;
  }

  /* value section */
  .value-wrap {
    height: auto;
  }

  .value-wrap-content {
    flex-direction: column;
  }

  .value-wrap-item {
    padding: 20px;
    text-align: center;
  }

  .value-wrap-content:hover {
    color: #ffffff;
  }

  /* history section */
  .history-item-wrap {
    flex: none;
    width: 100%;
    height: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    margin-right: 0;
    padding-right: 0;
    padding: 20px 0;
  }

  .history h1 {
    text-align: center;
  }

  .history-item li:last-child {
    margin-bottom: 0;
  }

  .swiper-slide {
    flex-direction: column;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  /*contact section */

  .contact {
    height: auto;
    background: url(../imgs/m_intro_map_bg_v1.jpg) #3148a6;
    background-size: 100% auto;
    background-position: center top;
  }

  .contact > .inner {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-text-wrap {
    position: static;
    transform: none;
    padding: 20px 0;
  }

  .contact-point-wrap {
    display: none;
  }

  .contact-locate {
    display: none;
  }
}

@media (min-width: 281px) and (max-width: 767px) {
  /*home section */
  .about-home {
    margin-top: 70px;
  }

  .about-home-content p {
    font-size: 28px;
    text-align: center;
  }

  .about-home-content {
    padding: 0 20px;
  }

  .about-home-content h3 {
    margin-bottom: 20px;
  }

  /* story section */
  .story-wrap {
    text-align: center;
  }

  /* value section */
  .value-wrap {
    height: auto;
  }

  .value-wrap-content {
    flex-direction: column;
    width: 100%;
  }

  .value-wrap-item {
    padding: 20px;
    text-align: center;
  }

  .value-wrap-content:hover {
    color: #ffffff;
  }

  /* history section */
  .history-item-wrap {
    flex: none;
    width: 100%;
    height: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    margin-right: 0;
    padding-right: 0;
    padding: 20px 0;
  }

  .history h1 {
    text-align: center;
  }

  .history-item li:last-child {
    margin-bottom: 0;
  }

  .swiper-slide {
    flex-direction: column;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  /*contact section */

  .contact {
    height: auto;
    background: url(../imgs/m_intro_map_bg_v1.jpg) #3148a6;
    background-size: 100% auto;
    background-position: center top;
  }

  .contact > .inner {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-text-wrap {
    position: static;
    transform: none;
    padding-bottom: 20px;
  }

  .contact-point-wrap {
    position: static;
    width: 100%;
    height: 300px;
  }

  .contact-wrap {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .amsterdam {
    top: 22vw;
    left: 7vw;
    right: auto;
  }

  .locate-mark {
    width: 10px;
    height: 10px;
  }

  .locate-text {
    font-size: 10px;
  }

  .korea {
    top: 18vw;
    left: 40.5vw;
    right: auto;
  }

  .taiwan {
    flex-direction: column;
    top: 35.8vw;
    left: 38vw;
    right: auto;
  }

  .japan {
    top: 28vw;
    left: 50vw;
    right: auto;
  }

  .usa {
    top: 30vw;
    left: 75vw;
    right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*home section */
  .about-home {
    margin-top: 70px;
  }

  .about-home-content p {
    font-size: 28px;
    text-align: center;
  }

  .about-home-content {
    padding: 0 20px;
  }

  .about-home-content h3 {
    margin-bottom: 20px;
  }

  /* story section */
  .story-wrap {
    text-align: center;
  }

  /* value section */
  .value-wrap {
    height: auto;
  }

  .value-wrap-content {
    flex-direction: column;
  }

  .value-wrap-item {
    padding: 20px;
    text-align: center;
  }

  .value-wrap-content:hover {
    color: #ffffff;
  }

  /* history section */
  .history-item-wrap {
    flex: none;
    width: 100%;
    height: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    margin-right: 0;
    padding-right: 0;
    padding: 20px 0;
  }

  .history h1 {
    text-align: center;
  }

  .history-item li:last-child {
    margin-bottom: 0;
  }

  .swiper-slide {
    flex-direction: column;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }

  /*contact section */
  .contact {
    height: auto;
    background: url(../imgs/m_intro_map_bg_v1.jpg) #3148a6;
    background-size: 100% auto;
    background-position: center top;
  }

  .contact > .inner {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-text-wrap {
    position: static;
    transform: none;
    padding-bottom: 20px;
  }

  .contact-point-wrap {
    position: static;
    width: 100%;
    height: 300px;
  }

  .contact-wrap {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .amsterdam {
    top: 23.5vw;
    left: 7vw;
    right: auto;
  }

  .locate-mark {
    width: 10px;
    height: 10px;
  }

  .locate-text {
    font-size: 10px;
  }

  .korea {
    top: 24.5vw;
    left: 43.5vw;
    right: auto;
  }

  .taiwan {
    flex-direction: column;
    top: 35.8vw;
    left: 42.7vw;
    right: auto;
  }

  .japan {
    top: 29.7vw;
    left: 50vw;
    right: auto;
  }

  .usa {
    top: 31vw;
    left: 75vw;
    right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*home section */
  .about-home {
    margin-top: 70px;
  }
}

@media (min-width: 540px) and (max-width: 541px) {
  .korea {
    top: 20.5vw;
    left: 42vw;
    right: auto;
  }

  .taiwan {
    flex-direction: column;
    top: 35.8vw;
    left: 40vw;
    right: auto;
  }
}

@media (max-width: 1450px) {
  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 97%;
  }
}

@media (max-width: 1400px) {
  .contact-text-wrap {
    left: 20px;
  }
}

@media (max-width: 1180px) {
  .contact-text-wrap {
    left: 20px;
    bottom: 300px;
  }
}
