.more {
  margin: 150px 0;
}

.more-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.more-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more-item br {
  display: none;
}

.more-item h1 {
  font-size: 70px;
}

.more-item a {
  z-index: 1;
  position: relative;
  margin-top: 50px;
  background-color: #ececec;
  padding: 20px 50px;
  transition: 0.3s;
  border-radius: 3px;
}

.more-item a::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #50586c;
  transition: 0.3s;
}

.more-item a:hover {
  color: #ffffff;
}

.more-item a:hover::after {
  width: 100%;
}
