.about-home-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background: url(/imgs/about-intro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.about-home-content h3 {
  margin-bottom: 50px;
}

.about-home-content p {
  font-size: 38px;
  line-height: 3.5rem;
}
