.history {
  position: relative;
  margin-top: 150px;
}

.history h1 {
  margin-bottom: 50px;
  font-size: 38px;
}

.swiper {
  position: static;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.history-item-wrap {
  flex: 1;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(156, 156, 156, 0.3);
}

.history-item-wrap h2 {
  margin-bottom: 20px;
}

.history-item-wrap:last-child {
  margin-right: 0;
  border-right: none;
}

.history-item li {
  display: flex;
  margin-bottom: 20px;
}

.history-item span {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5rem;
  color: #666666;
}

.history-item span {
  min-width: 30px;
}

.year-and-month span {
  min-width: 70px;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  bottom: -30px;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 1400px;
}

.swiper-pagination-progressbar-fill {
  --swiper-theme-color: #000000;
}

.swiper-button-next {
  color: #000000;
  right: 200px;
}

.swiper-button-prev {
  color: #000000;
  left: 200px;
}
